/* 
Imperial xRedx #e63946
Honeydey #f1faee
Powder xBluex #a8dadc
Celadon xBluex #457b9d
Prussian xBluex #1d3557 
*/

#noscript-header {
  position: static;
  opacity: 0.5;
}

body {
  font-family: Garamond;
  max-width: 480px;
  margin: 0 auto;
  padding: 48px 18px 0;
}

#logo {
  padding-bottom: 24px;
}
#logo svg {
  margin-top: -37px;
  display: inline-block;
}
#logo path {
  fill: #457b9d !important;
}
#logo-text {
  display: inline-block;
}
#logo-text h1 {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  color: #457b9d;
  padding: 0;
  margin: 0;
}

.accent {
  color: #e63946;
  font-weight: 100;
  opacity: 0.8;
}

a {
  color: #457b9d;
  text-decoration: underline;
  text-decoration-style: dotted;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px 0px;
}

#nav-links li {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border-radius: 12px;
  padding: 1px 8px 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

#nav-links li.selected {
  color: #fefefd;
  background-color: #1d3557;
}

.category {
  display: none;
}

.date {
  font-size: 24px;
  font-style: italic;
  font-family: Garamond, "Times New Roman", serif;
  font-weight: normal;
  margin-bottom: 12px;

  color: #1d3557;
  border-top: 4px solid #1d3557;
}
.date:first-child {
  margin-top: 84px;
}
.date:not(:first-child) {
  margin-top: 84px;
}

.entry a {
  font-size: 24px;
}
.entry:not(:last-child) {
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

footer {
  color: #1d3557;
  padding: 240px 0 32px;
}
